/* variables */
:root {
  --base-color: #fff;
  --second-color: #272727;
  --third-color: #747474;
  --fourth-color: #ff652f;
  --fifth-color: #fead26;
  --sixth-color: #14a76c;
  --seventh-color: rgba(234, 31, 31, 0.7);
  --eighth-color: rgba(28, 119, 210, 0.7);
}

/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: var(--second-color);
    overflow-x: hidden;
}

.wrapper {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* ukrycie tekstu przy ikonach */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    margin: 2.5rem 0 3.5rem;
}

.header-wrapper {
    text-align: center;
}

.main-header {
    margin: 0;
    color: var(--fifth-color);
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
}

.second-header {
    margin: 0;
    color: var(--base-color);
    font-size: 0.8rem;
    font-weight: 500;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
}

/* about-me */
.about-me {
    margin-bottom: 3.5rem;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.about-me-wrapper {
    text-align: center;
    font-size: 0.8rem;
}

.third-header {
    margin: 0 0 1.5rem;
    color: var(--sixth-color);
    font-size: 1.5rem;
    text-align: center;
}

.about-me-paragraph {
    color: var(--base-color);
    line-height: 2;
}

.fourth-header {
    margin: 2rem 0 1rem;
    color: var(--base-color);
    font-size: 1rem;
}

.contact-item {
    margin-top: 1rem;
    color: var(--base-color);
}

.contact-item span {
    margin-right: 0.5rem;
}

.contact-item a {
    color: var(--base-color);
    text-decoration: none;
}

.contact-item a:hover {
    color: var(--eighth-color);
    text-decoration: underline;
}

.social-icons-wrapper {
    margin: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-icon a {
    margin-right: 1rem;
    color: var(--base-color);
}

/* technologies */
.technologies {
    margin-bottom : 3.5rem;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.technologies-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.technology {
    margin: 0.5rem;
    color: var(--base-color);
    font-size: 6rem;
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.technology:first-of-type {
    margin-left: 0;
}

.technology:hover {
    color: var(--eighth-color);
}

/* projects */
.projects {
    margin-bottom: 3.5rem;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.projects-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.projects-box a {
    color: var(--base-color);
    text-decoration: none;
    text-align: center;
}

.project {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 200px;
    height: 200px;
    line-height: 1.5;
    border: 4px solid var(--base-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: color 0.6s, border-color 0.6s;
    -o-transition: color 0.6s, border-color 0.6s;
    transition: color 0.6s, border-color 0.6s;
}

.project:first-of-type {
    margin-left: 0;
}

.project:hover {
    color: var(--eighth-color);
    border-color: var(--eighth-color);
}

.fourth-header {
    margin: 0;
    color: var(--fifth-color);
}

.fourth-header-last {
    color: var(--sixth-color);
}

.project-paragraph {
    font-size: 0.8rem;
}

/* footer */
.footer-wrapper {
    padding: 1.5rem 0;
    color: var(--base-color);
    font-size: 0.8rem;
    text-align: center;
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

/* media queries*/
@media only screen and (min-width: 1000px) {
    .header-wrapper {
        text-align: left;
    }

    .about-me-wrapper {
        text-align: left;
    }

    .second-header {
        font-size: 1rem;
    }

    .about-me-wrapper {
        text-align: left;
        font-size: 1rem;
    }

    .third-header {
        text-align: left;
    }

    .technologies-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }

    .technology {
        margin: 1.5rem;
    }

    .projects-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }

    .project {
        margin: 1rem 3rem;
    }

    .footer-wrapper {
        text-align: right;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .technologies-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .projects-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
